.RData
.Rhistory
.Rproj.user
.Ruserdata
.git/objects/13/cf90592ae748c08d37910fe016d7d0abd34cdb
fit_models/.git/objects/13/cf90592ae748c08d37910fe016d7d0abd34cdb
food_eaten/fit_models/
images/
latency/fit_models/
latency/fit_models/lat_nov_hurd_nbin_hu_fit.rds
latency/fit_models/lat_pred_hurd_nbin_hu_fit.rds
latency/fit_models/lat_typ_hurd_nbin_hu_fit.rds
manuscript_and_talk_figs_results/abs_2019/*.jpg
manuscript_and_talk_figs_results/abs_2019/*.pdf
manuscript_and_talk_figs_results/abs_2019/*.tiff
old_stuff/fit_models/
old_stuff/fit_models/fit_multivariate_group_size_novel_nbin_farm.rds
Fish_Group_Models_Results.html
